<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
th:replace="Admin/base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Electricity Billing System</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
img {
	width: 100%;
	height:auto;
  display: block;
}
 
.cover {
	background-color: blue;
}
h1{
   position:absolute;
   top:200px;
   left:150px;
   font-size:50px;
}.center{
margin:auto;
width:100%;
color:white;
padding:10px;
}

p{
position:absolute;
   top:300px;
   left:200px;
   font-size:25px;
}.center1{
margin:auto;
width:100%;
color:white;
padding:10px;
}
</style>
  </head>
<body>
<nav class="navbar navbar-inverse">
<!-- nav bar for the index page -->
  <div class="container">
    <!-- Brand and toggle get grouped for better  display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BILLING</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/admin/home}">HOME</a></li>
         <li><a th:href="@{/admin/customers}">VIEW CUSTOMERS</a></li>
        <li><a th:href="@{/admin/viewcustomers/0}">GENERATE BILL</a></li>
       
      
         <li><a th:href="@{/admin/generatebill}">VIEW BILL</a></li>
          <li><a th:href="@{/admin/viewrates}">VIEW RATES</a></li>
          <li><a th:href="@{/admin/reports}">MONTHLY REPORTS</a></li>
          <li><a th:href="@{/logout}">LOGOUT</a></li>
       </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<section>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
    <script src="/js/viewcompanies.js"></script>


<div class="container-fluid">
    <h1>Companies</h1>


    <div class="row">
        <div class="col-sm-4">
            <form id="getCompanies" name="getCompamies" method="post">
                <div>
                    <input class="form-control me-2 mt-2" type="search"
                           id="keyword" name="keyword" placeholder="Search"

                           aria-label="Search">
                </div>
                <div>
                    <button class="btn btn-outline-success btn-dark mt-2 mb-2"
                            type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <table id="myTable" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>

            <th>Edit</th>
            <th>Pay Now</th>


        </tr>
        </thead>
        <tbody>


        </tbody>
    </table>

</div>
<div>
    <button onclick='decPageNo()'>Prev</button>
    <label id='companyPageNo'>1</label>
    <button onclick='incPageNo()'>Next</button>
</div>
</section>



</body>
</html>
